{% load static %}
<!DOCTYPE html>\
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/connect-style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon2.ico">
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <title>FarmAssist</title>
<style>
  .comment-section ul li{
    color: black;
    background-color: white;
    border-style: groove;
  }
</style>
</head>
<body>
  <header>
    <nav class="navbar">
        <a href="{% url 'pages:home' %}" class="nav-branding">FarmAssist</a>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="{% url 'pages:home' %}" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="{% url 'pages:connect' %}" class="nav-link">Connect</a>
            </li>
            {% if user.is_authenticated %} 

             <li class="nav-item">
                <a href="{% url 'pages:logout' %}" class="nav-link">Logout</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Welcome, {{user.username}}</a>
            </li>

            {% else %} 

            <li class="nav-item">
                <a href="{% url 'pages:login' %}" class="nav-link">Login</a>
            </li>

            {% endif %} 
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>
<script src="{% static 'script.js' %}"></script>
<div class="popup-btn-conatiner">
    <a href="#form-container" class="popup-btn">Add New Event</a>
    </div>
<div class="form-container" id="form-container">
<div class="contact-box">
  <div class="left"></div>
  <div class="right">
  
  <h2>Create An Event</h2> <a href="#" class="popup-close">&times;</a>
   <form action="{% url 'pages:create_event' %}" method="POST">
    {% csrf_token %}
     <input type="hidden" class="field"  name="_captcha" value="false">
      <input type="text" class="field" name="title" placeholder="Title" required>
      <input type="text" class="field"  name="location" placeholder="Location" required>
      <input type="text" class="field"  name="time" placeholder="hh:mm" required>
      <input type="text" class="field"  name="date" placeholder="YYYY-MM-DD" required>
       <input type="text" class ="textarea" placeholder="Event Details..." name="description" required>
      <button type="submit" class="btn">Create</button>
   </form>
   </div>
</div>
</div>

<section class="portfolio defaultMargin" id="portfolio">
  <div class="title__container">
    <h2>Meetups and Events</h2>
    <p>Check out nearby meetups and events.</p>
  </div>

  <div class="container">
  {% for i in meetup %}
    <div class="design">
      <div class="background"></div>
      <div class="portfolio__container">
       <a href="#popup_{{ i.title }}">
       <span class="link"></span>
       </a>
        <h3>{{ i.title }}</h3>
        <p>Location: {{ i.location }} </p>
        <p>Time: {{ i.starttime }} {{ i.date }} </p>
        <p>{{ i.description }}</p>
        </div>
      </div>
      <div class="popup1" id="popup_{{ i.title }}">
        <div class="popup-dialog">
           <section class="popup-content">
            <div class="popup-header">
                <p> {{ i.title }} </p>
                <a href="#" class="popup-close">&times;</a>
            </div>
        
              <div class="popup-body">
                <div class="popup-image-event"></div>
                <div class="popup-text">
                <p><b>Contact: </b>{{ i.creatorid.email }}</p>
                <p><b>Location: </b>{{ i.location }}</p>
                <p><b>About: </b>{{ i.description }}</p><br>
                <p><b>Comments: </b></p>
                <div class="comment-section">
                  {% for k in comment %}
                  {% if k.post.postid == i.postid %}
                  <ul>
                    <li><b>{{ k.username.username }}</b><br>
                    {{ k.content }} </li>
                  </ul>
                  {% endif %}
                  {% endfor %}
                </div>
                <form action="{% url 'pages:add_comment' %}" method="POST">
                  {% csrf_token %}
                   <input type="hidden" class="field"  name="_captcha" value="false">
                   <input type="hidden" class="field" name="post" value={{ i.postid }}>
                     <input type="text" class ="textarea" placeholder="Add a Comment..." name="comment" required>
                    <button type="submit" class="comment-btn">Comment</button>
                 </form>
            </div>
              </div>
               
           </section>
        </div>
    </div>
    {% endfor %}
  </div>
  </section>

<section class="portfolio defaultMargin" id="portfolio">
      <div class="title__container">
        <h2>Connect with other farmers</h2>
        <p>Check out what others have been planting.</p>
      </div>
      <div class="container">
      {% for i in users %}
        {% if not i.is_superuser %} 
        <div class="design">
          <div class="background"></div>
          <div class="portfolio__container">
           <a href="#popup_{{ i.username }}">
           <span class="link"></span>
           </a>
            <h3>{{ i.username }}</h3>
            <p>{{ i.email }}</p>
            <div class="image">
              <img src="{% static 'img/profile.jpg' %}" alt="" />
            </div>
          </div>
        </div>
        <div class="popup1" id="popup_{{ i.username }}">
        <div class="popup-dialog">
           <section class="popup-content">
            <div class="popup-header">
                <p>Connect with {{ i.username }} </p>
                <a href="#" class="popup-close">&times;</a>
            </div>
        
              <div class="popup-body">
                <div class="popup-image"></div>
                <div class="popup-text">
                <p><b>Name: </b> {{ i.first_name }}</p>
                <p> <b>Email: </b>{{ i.email }}</p><br>
                <p><b>About: </b> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis saepe veritatis, velit ea ex sint, libero officiis repudiandae autem, praesentium consequatur atque, enim blanditiis aut consequuntur ad. Necessitatibus, iste, magnam.</p><br>
            </div>
              </div>
               
           </section>
        </div>
    </div>
    {% endif %} 
    {% endfor %}
  </div>
  </section>
</body>
</html>