*{
    padding: 0;
    margin: 0;
}

header{
    background-color: white;
    text-decoration: none;
    border-bottom: 3px solid black;
}

header a{
    text-decoration: none;
}

li{
    list-style: none;
}

a{
    color: black; 
    text-decoration: none;
}
ul {
    margin-right: 20px;
}

.container{
  max-width: 1224px;
  width: 90%;
  margin: 10px auto;
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.nav-branding{
  font-size: 2rem;
    margin-left: 20px;
}
.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
.nav-link{
  transition: 0.3s ease-out;
}
.nav-link:hover{
  color: #C0C0C0;
}
.hamburger{
  display: none;
  cursor: pointer;
    margin-right: 20px;
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: black;
}

@media(max-width:1024px){
  .hamburger{
    display: block;
  }
 .hamburger.active .bar:nth-child(2){
    opacity: 0;
  }
 .hamburger.active .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
  }
 .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
 .nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
 .nav-item{
    margin: 16px 0;
  }
 .nav-menu.active{
    left: 0;
  }
}

.table{
  border: 1px solid;
}
